{
  "presets": [
    [
      "@vue/babel-preset-app",
      {
        "modules": false,
        "corejs": 3,
        "absoluteRuntime": false,
        "targets": {
          "browsers": "last 2 versions, IE >= 11"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "env": {
    "commonjs": {
      "presets": [
        [
          "@vue/babel-preset-app",
          {
            "modules": "commonjs",
            "corejs": 3,
            "absoluteRuntime": false,
            "targets": {
              "browsers": "last 2 versions, IE >= 11"
            }
          }
        ],
        "@babel/preset-typescript"
      ]
    }
  }
}
